/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --section-background: #ececec;
  --main-transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 100px 0 50px;
}
/*Meduia Query*/
.container {
  padding: 0px 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*Main */
.ovearlay {
  position: fixed;
  z-index: 50;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  pointer-events: none;
}
.ovearlay.active {
  pointer-events: all;
  opacity: 0.9;
}
.section-title {
  position: relative;
  width: fit-content;
  padding: 10px 20px;
  font-size: 25px;
  margin: 0 auto 80px;
  text-transform: uppercase;
  border: 2px solid #000;
  z-index: 1;
  transition: var(--main-transition);
  cursor: pointer;
}
.section-title::before,
.section-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 50%;
  transform: translateY(-50%);
}
.section-title::before {
  left: -30px;
}
.section-title::after {
  right: -30px;
}
.section-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.section-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.section-title:hover {
  color: #fff;
  border-color: #fff;
  transition-delay: 0.5s;
}
@keyframes left-move {
  50% {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: 0;
  }
  100% {
    width: 55%;
    height: 100%;
    border-radius: 0%;
    left: 0;
  }
}
@keyframes right-move {
  50% {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    right: 0;
  }
  100% {
    width: 50%;
    height: 100%;
    border-radius: 0%;
    right: 0;
  }
}
.dot {
  background-image: url(../imgs/dots.png);
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 0;
}
.dot-up {
  right: 20px;
  top: 20px;
}
.dot-down {
  bottom: 20px;
  left: 20px;
}
/* End Global Rules */
/* Start Header  */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5555;
  background-color: #fff;
  box-shadow: 0px 0px 10px #ddd;
}
header .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
header .container .content h2 a {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container .content .links {
  display: flex;
}

header .container .content .links > li > a {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 20px;
  color: #000;
  font-size: 17px;
}
header .container .content .links > li.active > a,
header .container .content .links > li > a :hover {
  color: var(--main-color);
}
header .container .content .links > li > a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  bottom: 0;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
  border-top: 3px solid var(--main-color);
}
header .container .content .links > li.active > a::before,
header .container .content .links > li > a:hover::before {
  width: 100%;
}
/* ==================Nav==================== */
header .container .content nav {
  position: absolute;
  padding: 30px;
  top: calc(100% + 50px);
  background-color: #fff;
  width: 100%;
  left: 0;
  display: flex;
  gap: 25px;
  opacity: 0;
  border-bottom: 2px solid var(--main-color);
  z-index: -100;
  transition: var(--main-transition);
  visibility: hidden;
}
header .container .content .links > li nav.active {
  opacity: 1;
  top: calc(100% + 1px);
  visibility: visible;
}
nav .imgs {
  width: 400px;
}
nav .imgs img {
  max-width: 100%;
}

header .container .content nav .box {
  min-width: 250px;
  flex: 1;
}

header .container .content nav .box li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
header .container .content nav .box li > a {
  display: block;
  padding: 15px;
  font-weight: 500;
  color: var(--main-color);
  font-size: 18px;
  position: relative;
  z-index: -1;
}
header .container .content nav.active .box li > a {
  z-index: 1;
}
header .container .content nav .box li > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
}
header .container .content nav .box li > a:hover::before {
  width: 100%;
}
nav .box li > a > i {
  padding-right: 10px;
  width: 40px;
}
/* ==================Nav==================== */
/**/
@media (max-width: 600px) {
  header .container .content nav {
    padding: 10px 0;
    flex-direction: column;
    gap: 0;
  }
  header .container .content nav .box {
    width: 100%;
    padding: 0px 15px;
  }
}
@media (max-width: 768px) {
  header .container .content h2 {
    width: 100%;
  }
  header .container .content h2 a {
    height: 50px;
  }
  header .container .content .links {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  header .container .content .links > li > a {
    height: 50px;
    padding: 0 7px;
    font-size: 14px;
  }
  header .container .content nav .box li > a {
    font-size: 14px;
  }
  header .container .content nav .box:first-of-type li {
    border-bottom: 1px solid #e9e6e6;
  }
}
@media (max-width: 992px) {
  nav .imgs {
    display: none;
  }
}

/* End Header  */
/* Start landing  */
.landing {
  position: relative;
  padding: 50px 0px 0px;
  height: 100vh;
}
.landing::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container .content-land {
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.landing .container .content-land .text {
  width: 50%;
}
.landing .container .content-land .text h3 {
  font-size: 35px;
  padding-bottom: 15px;
}
.landing .container .content-land .text p {
  font-size: 20px;
  color: #777;
  line-height: 1.6;
}
.landing .container .content-land .imgs {
  width: 50%;
  position: relative;
  transition: var(--main-transition);
  animation: go-top 3s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes go-top {
  0%,
  100% {
    bottom: 5px;
  }
  50% {
    bottom: 30px;
  }
}
.landing .container .content-land .imgs img {
  width: 100%;
}
.landing .container .go-down {
  position: absolute;
  left: 50%;
  transform: translateY(-50%);
  bottom: 10px;
  animation: btn-down 2s linear infinite alternate;
}
@keyframes btn-down {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-20px);
  }
}
@media (max-width: 768px) {
  .landing .container .content-land .text {
    text-align: center;
    width: 100%;
  }
  .landing .container .content-land .text h3 {
    font-size: 23px;
  }
  .landing .container .content-land .text p {
    font-size: 16px;
  }
  .landing .container .content-land .imgs {
    display: none;
  }
}

/* End landing  */
/* Start Articles  */

.articles .container .content-articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.articles .container .content-articles .box {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: var(--main-transition);
}
.articles .container .content-articles .box img {
  width: 100%;
}
.articles .container .content-articles .box .text {
  padding: 15px 10px;
  border-bottom: 1px solid #e9e6e6;
}
.articles .container .content-articles .box .text h3 {
  font-size: 25px;
  padding-bottom: 10px;
}
.articles .container .content-articles .box .text p {
  font-size: 16px;
  line-height: 1.5;
  color: #777;
}
.articles .container .content-articles .box .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  color: var(--main-color);
}
.articles .container .content-articles .box .info a {
  color: var(--main-color);
}
.articles .container .content-articles .box:hover {
  transform: translateY(-10px);
}
@media (max-width: 768px) {
  .articles .container .content-articles .box .text h3 {
    font-size: 20px;
  }
  .articles .container .content-articles .box .text p {
    font-size: 16px;
  }
}
/* End Articles  */
/* Start gallery  */

.gallery {
  background-color: var(--section-background);
}

.gallery .container .content-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 30px;
}
.gallery .container .content-gallery .box-gallery {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.13),
    0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}
.gallery .container .content-gallery .box-gallery .imgs {
  position: relative;
  overflow: hidden;
}
.gallery .container .content-gallery .box-gallery .imgs::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.2);
}
.gallery .container .content-gallery .box-gallery .imgs:hover::before {
  animation: flashing 0.7s;
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
.gallery .container .content-gallery .box-gallery .imgs img {
  width: 100%;
  transition: var(--main-transition);
}
.gallery .container .content-gallery .box-gallery:hover .imgs img {
  transform: scale(1.2) rotate(10deg);
}

.overlay-gallary {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -888888;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: var(--main-transition);
}
.overlay-gallary.active {
  z-index: 888888;
  opacity: 1;
}
.overlay-gallary .show-img {
  width: 500px;
  position: relative;
}
.overlay-gallary .show-img span {
  position: absolute;
  font-size: 25px;
  right: 2px;
  top: -12px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--main-color);
  color: #fff;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}
.overlay-gallary .show-img img {
  width: 100%;
}
@media (max-width: 768px) {
  .overlay-gallary .show-img {
    width: 290px;
  }
}
/* End gallery  */
/* End features  */

.features .container .content-features {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 30px;
}
.features .container .content-features .box {
  border: 1px solid #ccc;
}
.features .container .content-features .box .img-feat {
  position: relative;
  overflow: hidden;
}
.features .container .content-features .box .img-feat::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.features .container .content-features .box.quality .img-feat::before {
  background-color: rgb(244 64 54 / 60%);
}
.features .container .content-features .box.time .img-feat::before {
  background-color: rgb(0 150 136 / 60%);
}
.features .container .content-features .box.passion .img-feat::before {
  background-color: rgb(3 169 244 / 60%);
}
.features .container .content-features .box .img-feat::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0 0 170px 500px;
  border-color: transparent transparent #fff transparent;
  transition: var(--main-transition);
}
.features .container .content-features .box:hover .img-feat::after {
  border-width: 170px 500px 170px 0;
}
.features .container .content-features .box .img-feat img {
  max-width: 100%;
}
.features .container .content-features .box h3 {
  font-size: 25px;
  margin: 7px auto;
  padding: 15px 0;
  width: fit-content;
  position: relative;
}
.features .container .content-features .box h3::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
}
.features .container .content-features .box.quality h3::before {
  background-color: #f44036;
}
.features .container .content-features .box.time h3::before {
  background-color: #009688;
}
.features .container .content-features .box.passion h3::before {
  background-color: #03a9f4;
}
.features .container .content-features .box p {
  font-size: 18px;
  color: #777;
  text-align: center;
  line-height: 1.6;
  padding: 10px;
}
.features .container .content-features .box a {
  display: block;
  margin: 15px auto;
  width: fit-content;
  padding: 10px 20px;
  border: 2px solid;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  transition-delay: var(--main-transition);
}
.features .container .content-features .box.quality a {
  color: #f44036;
  border-color: #f44036;
}
.features .container .content-features .box.time a {
  color: #009688;
  border-color: #009688;
}
.features .container .content-features .box.passion a {
  color: #03a9f4;
  border-color: #03a9f4;
}
.features .container .content-features .box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  transition: var(--main-transition);
  z-index: -1;
}
.features .container .content-features .box.quality a:before {
  background-color: #f44036;
}
.features .container .content-features .box.time a::before {
  background-color: #009688;
}
.features .container .content-features .box.passion a::before {
  background-color: #03a9f4;
}
.features .container .content-features .box:hover a::before {
  width: 100%;
}
.features .container .content-features .box:hover a {
  color: #fff;
  border-color: #fff;
}
@media (max-width: 768px) {
  .features .container .content-features .box p {
    font-size: 16px;
  }
}
/* Start features  */
/* Start testimonials  */
.testimonials {
  background-color: var(--section-background);
}
.testimonials .container .content-testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 30px;
}
.testimonials .container .content-testimonials .box {
  padding: 10px;
  border-radius: 5px;
  position: relative;
  background-color: #fff;
}
.testimonials .container .content-testimonials .box .team-img {
  position: absolute;
  top: -50px;
  right: 0px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 7px;
  background-color: var(--section-background);
}
.testimonials .container .content-testimonials .box .team-img img {
  max-width: 100%;
  border-radius: 50%;
}
.testimonials .container .content-testimonials .box h3 {
  font-size: 25px;
  padding-bottom: 5px;
}
.testimonials .container .content-testimonials .box p {
  color: #777;
  line-height: 1.6;
}
.testimonials .container .content-testimonials .box p:nth-of-type(1) {
  font-size: 18px;
}
.testimonials .container .content-testimonials .box p:nth-of-type(2) {
  font-size: 15px;
  padding-bottom: 10px;
}
.testimonials .container .content-testimonials .box .starts {
  margin: 5px 0;
  font-size: 18px;
}
.testimonials .container .content-testimonials .box .starts span.fas {
  color: #ffc107;
}
@media (max-width: 768px) {
  .testimonials .container .content-testimonials .box h3 {
    font-size: 23px;
  }
  .testimonials .container .content-testimonials .box p:nth-of-type(1) {
    font-size: 17px;
  }
}
/* End testimonials  */
/* Start Teams */
.teams {
}
.teams .container {
}
.teams .container .content-teams {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 30px;
}
/* End Teams */
/* Start services  */
.services {
  background-color: var(--section-background);
}
.services .container {
}
.services .container .content-services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 30px;
}
.services .container .content-services .box {
  background-color: #fff;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
  text-align: center;
  position: relative;
  counter-increment: services;
  transition: var(--main-transition);
}
.services .container .content-services .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 0%;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.services .container .content-services .box:hover::before {
  width: 100%;
}
.services .container .content-services .box:hover {
  transform: translateY(-10px);
}
.services .container .content-services .box span {
  color: #d5d5d5;
  display: block;
  margin: 30px auto 20px;
}
.services .container .content-services .box h3 {
  font-size: 25px;
  color: var(--main-color);
  padding: 0 0 40px 0;
}
.services .container .content-services .box .info {
  padding: 15px;
  position: relative;
  background-color: #f9f9f9;
  text-align: right;
}
.services .container .content-services .box .info::before {
  content: "0" counter(services);
  position: absolute;
  color: #fff;
  left: 0;
  background-color: var(--main-color);
  width: 80px;
  padding-right: 15px;
  height: 100%;
  top: 0;
  text-align: center;
  font-size: 30px;
  line-height: 48px;
  font-weight: 700;
}
.services .container .content-services .box .info::after {
  content: "";
  position: absolute;
  left: 80px;
  height: 100%;
  width: 50px;
  top: 0;
  background-color: #d5d5d5;
  transform: skewX(-30deg);
}
.services .container .content-services .box .info a {
  color: var(--main-color-alt);
}
/* End services  */
/* Start Skills  */

.skills .container .content-skills {
  display: flex;
}
.skills .container .content-skills img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .skills .container .content-skills img {
    display: none;
  }
}
.skills .container .content-skills .boxs {
  flex: 1;
}
.skills .container .content-skills .boxs .box {
  margin-bottom: 15px;
}
.skills .container .content-skills .boxs .box h3 {
  padding-bottom: 10px;
  font-size: 20px;
}

.skills .container .content-skills .boxs .box p {
  height: 30px;
  background-color: #eee;
}
.skills .container .content-skills .boxs .box p span {
  background-color: var(--main-color);
  height: 100%;
  width: 0;
  display: inline-block;
  position: relative;
  transition: 1s;
}
.skills .container .content-skills .boxs .box p span::before {
  content: attr(data-prog) "%";
  position: absolute;
  right: -20px;
  top: -30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px 5px;
  color: var(--main-color);
  font-size: 15px;
  z-index: 20;
}
/* End Skills  */
/* Start Work Step  */
.work-step {
  background-color: var(--section-background);
}
.work-step .container .content-work {
  display: flex;
  gap: 20px;
}
@media (max-width: 991px) {
  .work-step .container .content-work {
    flex-direction: column;
  }
}
.work-step .container .content-work > img {
  max-width: 92%;
  margin: auto;
}
.work-step .container .content-work > .boxs {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.work-step .container .content-work > .boxs .box {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  background-color: #f6f5f5;
  border: 3px solid #fff;
  border-radius: 5px;
  position: relative;
  z-index: 0;
}
.work-step .container .content-work > .boxs .box::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  background-color: #ededed;
  z-index: -1;
  transition: var(--main-transition);
}
.work-step .container .content-work > .boxs .box:hover::before {
  width: 100%;
  height: 100%;
}
.work-step .container .content-work > .boxs .box > img {
  width: 70px;
}
.work-step .container .content-work > .boxs .box .text h3 {
  font-size: 25px;
  margin-bottom: 5px;
}
.work-step .container .content-work > .boxs .box .text p {
  font-size: 18px;
  line-height: 1.5;
  color: #777;
}
@media (max-width: 768px) {
  .work-step .container .content-work > .boxs .box {
    flex-direction: column;
    justify-content: center;
    padding: 30px 0;
  }
  .work-step .container .content-work > .boxs .box .text {
    text-align: center;
  }
  .work-step .container .content-work > .boxs .box .text p {
    font-size: 16px;
  }
}
/* End Work Step  */
/* Start LATEST EVENTS  */
.latest-events {
  position: relative;
}

.latest-events .container .content-latest {
  display: flex;
  gap: 20px;
}
.latest-events .container .content-latest .img-events {
  width: 100%;
}
.latest-events .container .content-latest .img-events img {
  max-width: 100%;
}
.latest-events .container .content-latest .time-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.latest-events .container .content-latest .time-events ul {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}
.latest-events .container .content-latest .time-events ul li {
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  text-align: center;
  width: 85px;
}
.latest-events .container .content-latest .time-events ul li span:nth-child(1) {
  display: block;
  padding: 25px 0;
  font-size: 30px;
  font-weight: 600;
  color: var(--main-color);
}
.latest-events .container .content-latest .time-events ul li span:nth-child(2) {
  display: block;
  border-top: 1px solid #d4d4d4;
  padding: 10px;
  font-size: 16px;
}
.latest-events .container .content-latest .time-events ul li:hover,
.latest-events .container .content-latest .time-events ul li:hover span {
  border-color: var(--main-color);
}
.latest-events .container .content-latest .time-events h3 {
  font-size: 30px;
  margin-bottom: 15px;
}
.latest-events .container .content-latest .time-events p {
  font-size: 20px;
  color: #777;
  line-height: 1.6;
}
.latest-events .container .form-latest {
  margin: 50px auto;
  width: 600px;
  border-radius: 70px;
  background-color: #f6f5f5;
  padding: 30px;
  display: flex;
}
.latest-events .container .form-latest input {
  width: 100%;
  padding: 15px 30px;
  border-radius: 60px;
  margin-right: 10px;
}
.latest-events .container .form-latest button {
  border-radius: 60px;
  padding: 15px;
  font-size: 18px;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
  transition: var(--main-transition);
}
.latest-events .container .form-latest button:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .latest-events .container .content-latest {
    flex-direction: column;
  }

  .latest-events .container .content-latest .time-events ul li {
    width: 70px;
  }
  .latest-events .container .content-latest .time-events h3 {
    font-size: 24px;
  }
  .latest-events .container .content-latest .time-events p {
    font-size: 16px;
  }
  .latest-events .container .form-latest {
    width: 100%;
    border-radius: 0;
    flex-direction: column;
  }
  .latest-events .container .form-latest input {
    width: 100%;
    border-radius: 0;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .latest-events .container .form-latest button {
    border-radius: 0px;
    padding: 15px;
    display: block;
    font-size: 16px;
  }
}
/* End LATEST EVENTS  */
/* Start pricing plans */
.pricing-plans {
  background-color: var(--section-background);
  position: relative;
}
.pricing-plans .container .content-pricing {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 30px;
}
.pricing-plans .container .content-pricing .cart-pric {
  position: relative;
  z-index: 1;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  padding: 30px 0;
  background-color: #fff;
}
.pricing-plans .container .content-pricing .cart-pric.top {
  transform: translateY(-15px);
}
.pricing-plans .container .content-pricing .cart-pric.top .most {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 10px 5px 30px;
  width: 40px;
  writing-mode: vertical-rl;
  color: #fff;
  background-color: var(--main-color);
  font-size: 25px;
}
.pricing-plans .container .content-pricing .cart-pric.top .most::before {
  content: "";
  position: absolute;
  bottom: 0px;
  border-color: transparent transparent #fff transparent;
  border-width: 16px;
  border-style: solid;
}
@media (max-width: 768px) {
  .pricing-plans .container .content-pricing .cart-pric.top {
    transform: translateY(0px);
  }
}
.pricing-plans .container .content-pricing .cart-pric::before {
  content: "";
  position: absolute;
  height: 50%;
  top: 0;
  left: 0;
  width: 0;
  background-color: #f6f6f6;
  z-index: -1;
  transition: var(--main-transition);
}
.pricing-plans .container .content-pricing .cart-pric::after {
  content: "";
  position: absolute;
  height: 50%;
  bottom: 0;
  right: 0;
  width: 0;
  background-color: #f6f6f6;
  z-index: -1;
  transition: var(--main-transition);
}
.pricing-plans .container .content-pricing .cart-pric:hover::before,
.pricing-plans .container .content-pricing .cart-pric:hover::after {
  width: 100%;
}
.pricing-plans .container .content-pricing .cart-pric h3 {
  text-align: center;
  font-size: 27px;
}
.pricing-plans .container .content-pricing .cart-pric img {
  margin: 25px auto;
  width: 70px;
  display: block;
}
.pricing-plans .container .content-pricing .cart-pric .price {
  padding: 15px 0;
  text-align: center;
}
.pricing-plans .container .content-pricing .cart-pric .price .amount {
  display: block;
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--main-color);
}
.pricing-plans .container .content-pricing .cart-pric .price .time {
  color: #777;
}
.pricing-plans .container .content-pricing .cart-pric ul {
  padding: 30px 0;
}
.pricing-plans .container .content-pricing .cart-pric ul li {
  padding: 18px;
  border-top: 1px solid #e9e6e6;
  font-size: 16px;
}
.pricing-plans .container .content-pricing .cart-pric ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}
.pricing-plans .container .content-pricing .cart-pric a {
  display: block;
  margin: 10px auto;
  border: 2px solid var(--main-color);
  width: fit-content;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  color: var(--main-color);
  font-weight: 600;
  transition: var(--main-transition);
}
.pricing-plans .container .content-pricing .cart-pric a:hover {
  color: #fff;
  background-color: var(--main-color);
}
/* Ends pricing plans */
/* Start Top Vedio  */
.top-vedio {
}
.top-vedio .container {
}
.top-vedio .container .content-top-vedio {
  display: flex;
  gap: 30px;
}
.top-vedio .container .content-top-vedio .infor {
  width: 30%;
}
.top-vedio .container .content-top-vedio .infor .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
}
.top-vedio .container .content-top-vedio .infor .head h3 {
  text-transform: capitalize;
  font-size: 18px;
}
.top-vedio .container .content-top-vedio .infor .head span {
  font-size: 18px;
}
.top-vedio .container .content-top-vedio .infor ul {
}
.top-vedio .container .content-top-vedio .infor ul li {
  padding: 20px;
  border: 1px solid var(--section-background);
  transition: var(--main-transition);
}
.top-vedio .container .content-top-vedio .infor ul li:hover {
  background-color: #fafafa;
}
.top-vedio .container .content-top-vedio .infor ul li a {
  display: block;
  font-size: 16px;
  color: black;
  padding-bottom: 10px;
  transition: var(--main-transition);
}
.top-vedio .container .content-top-vedio .infor ul li a:hover {
  color: var(--main-color);
}
.top-vedio .container .content-top-vedio .infor ul li span {
  color: #777;
}
.top-vedio .container .content-top-vedio .preview {
  width: 65%;
  padding: 10px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-vedio .container .content-top-vedio .preview img {
  max-width: 100%;
}
.top-vedio .container .content-top-vedio .preview .text-preview {
  background-color: #fff;
  font-size: 18px;
  padding: 20px;
}
@media (max-width: 991px) {
  .top-vedio .container .content-top-vedio {
    flex-direction: column;
  }
  .top-vedio .container .content-top-vedio .infor {
    width: 100%;
  }
  .top-vedio .container .content-top-vedio .preview {
    width: 100%;
  }
  .top-vedio .container .content-top-vedio .preview .text-preview {
    font-size: 16px;
    margin-top: 100px;
  }
}
/* End Top Vedio  */
/* .Start Stats   */
.stats {
  background-image: url("../imgs/stats.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 300px;
}
.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 95%);
}
.stats .container {
  position: relative;
  z-index: 5;
}
.stats .container .head-stats {
  text-align: center;
  margin-bottom: 50px;
  font-size: 35px;
}
.stats .container .content-stats {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.stats .container .content-stats .box-stats {
  background-color: #fff;
  padding: 30px;
  text-align: center;
  position: relative;
}
.stats .container .content-stats .box-stats::before,
.stats .container .content-stats .box-stats::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.stats .container .content-stats .box-stats::before {
  top: 0;
  left: 0;
}
.stats .container .content-stats .box-stats::after {
  bottom: 0;
  right: 0;
}
.stats .container .content-stats .box-stats:hover::before,
.stats .container .content-stats .box-stats:hover::after {
  height: 100%;
}
.stats .container .content-stats .box-stats h3 {
  font-size: 45px;
  padding: 20px 0 10px;
}
.stats .container .content-stats .box-stats h4 {
  color: var(--main-color);
  font-size: 20px;
}
/* End Stats   */
/* start Discount  */
.discount {
  min-height: 100vh;
  display: flex;
  gap: 15px;
}
.discount .imgs {
  flex-basis: 50%;
  background-image: url("../imgs/discount-background1.jpg");
  background-size: cover;
  position: relative;
  color: #fff;
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
}
.discount .imgs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}
.discount .imgs .content-imgs {
  padding: 0 20px;
}
.discount .imgs .content-imgs h3 {
  font-size: 30px;
  margin: 50px 0 15px;
}
.discount .imgs .content-imgs p {
  font-size: 20px;
  padding-bottom: 15px;
}
.discount .imgs .content-imgs img {
  width: 300px;
  max-width: 100%;
}
.discount .discount-form {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.discount .discount-form h3 {
  font-size: 30px;
  margin: 30px auto;
}
.discount .discount-form form {
  display: flex;
  flex-direction: column;
  width: 300px;
  overflow: hidden;
  margin: 10px auto 30px;
}
.discount .discount-form form > * {
  padding: 15px;
  width: 100%;
  font-size: 16px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
}
.discount .discount-form form textarea {
  height: 200px;
}
.discount .discount-form form button {
  border: none;
  color: #fff;
  background-color: var(--main-color);
  cursor: pointer;
  font-weight: 600;
}
@media (max-width: 991px) {
  .discount {
    flex-direction: column;
  }
  .discount .imgs {
    flex-basis: 100%;
  }
  .discount .discount-form {
    flex-basis: 100%;
  }
  .discount .imgs .content-imgs h3 {
    font-size: 25px;
  }
  .discount .imgs .content-imgs p {
    font-size: 16px;
  }
}
/* End Discount  */
/* Start Footer */
/* */

footer {
  background-color: #191919;
  padding: 50px 0 0;
}
footer .container .content-footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding-bottom: 70px;
  border-bottom: 1px solid #444;
}
footer .container .content-footer .box-footer {
  color: #b9b9b9;
}
footer .container .content-footer .box-footer h2 {
  color: #fff;
  font-size: 40px;
  padding: 20px 5px;
}
footer .container .content-footer .box-footer .social {
  display: flex;
  align-items: center;
}
footer .container .content-footer .box-footer .dis {
  padding: 20px 0;
  font-size: 16px;
  line-height: 1.5;
}
footer .container .content-footer .box-footer .social span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  background-color: #313131;
  cursor: pointer;
  transition: var(--main-transition);
}
footer .container .content-footer .box-footer .social span:nth-child(1):hover {
  background-color: #1877f2;
}
footer .container .content-footer .box-footer .social span:nth-child(2):hover {
  background-color: #c13584;
}
footer .container .content-footer .box-footer .social span:nth-child(3):hover {
  background-color: #1da1f2;
}
footer .container .content-footer .box-footer .social span:nth-child(4):hover {
  background-color: #0077b5;
}
footer .container .content-footer .box-footer ul li {
  padding: 15px 1px;
  transition: var(--main-transition);
}
footer .container .content-footer .box-footer ul li:not(:last-child) {
  border-bottom: 1px solid #444;
}
footer .container .content-footer .box-footer ul li:hover {
  padding: 15px 10px;
}

footer .container .content-footer .box-footer ul li a {
  position: relative;
  color: #b9b9b9;
  transition: var(--main-transition);
  font-size: 16px;
}
footer .container .content-footer .box-footer ul li:hover a {
  color: #fff;
}
footer .container .content-footer .box-footer ul li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
footer .container .content-footer .box-footer .line {
  display: flex;
  margin-bottom: 25px;
  align-items: center;
}
footer .container .content-footer .box-footer .line i {
  color: var(--main-color);
  margin-right: 15px;
  font-size: 20px;
}
footer .container .content-footer .box-footer .line p {
  line-height: 1.6;
  font-size: 16px;
}
footer .container .content-footer .box-footer .line .info span {
  display: block;
  padding-bottom: 3px;
}

.gallery-footer img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
.copy {
  padding: 30px;
  text-align: center;
  font-size: 16px;
  color: #b9b9b9;
  text-transform: capitalize;
}
.copy span {
  font-weight: 600;
  color: var(--main-color);
}
/* End Footer */
